{% extends 'base.html' %}{% load static %} {% block content %}
<section>
  <div class="container d-flex flex-warp">
    <div class="col-md-6 mt-2">
      <h1>
        Where Culinary Artistry Meets Warm Hospitality - A Culinary Journey
        Infused with Passion, Served with a Smile
      </h1>
      <p>
        At TigerFood, our driving force is the warm satisfaction reflected in
        each customer's smile. We are dedicated to delivering an unparalleled
        culinary experience, striving to set the highest standards in
        gastronomy. Our commitment is to provide a welcoming ambiance where
        patrons not only enjoy the finest cuisine but also relish a memorable
        dining experience. Excellence in food and hospitality is not just our
        goal - it's our promise to you.
      </p>
    </div>
    <div class="rounded col-md-6 m-4 p-1">
      <img
        src="{% static 'pexels-tim-douglas-6205494.jpg' %}"
        alt=""
        srcset=""
        width="92%"
      />
    </div>
  </div>
</section>
<section>
  <div class="mt-5 container d-flex flex-warp">
    <div class="rounded col-md-6 mt-2">
      <img
        src="{% static 'pexels-tim-douglas-6205480.jpg' %}"
        alt=""
        srcset=""
        width="92%"
      />
    </div>
    <div class="col-md-6 m-4 p-1">
      <h1>Our Approach to Work</h1>
      <p>
        At TigerFood, we uphold the highest standards of hygiene and ethics.
        Every member of our team is treated with respect and equality, fostering
        a culture of inclusivity. We firmly believe in the principle of
        equality, recognizing the inherent value of every individual. Our
        paramount focus is on our customers, valuing their experience above all
        else. We are dedicated to creating a welcoming and comfortable
        environment, ensuring that each visit is a seamless and enjoyable
        experience.
      </p>
    </div>
  </div>
</section>

{% endblock %}
